<div>
    <label>Notifications</label>
    <a class="clear-all" href ng-click="clearAllNotifs()">Clear all</a>
</div>
<div class="notif-item" ng-repeat="(key, value) in notifications">
    <i class="fa notif-icon" ui-sref="notificationsCenter"
       ng-class="{
            'fa-info-circle':  value.type == 'exercise_trouble',
            'fa-exclamation-triangle':  value.type == 'event_pain',
            'fa-pencil-square-o':  value.type == 'assessment_needs_review'
       }" aria-hidden="true"></i>
    <div>
        <a href ng-class="value.type" ng-click="summary(value.patient_name)">{{ value.patient_name }}</a>
        <div class="message">{{ value.message }}</div>
        <div class="timestamp">{{ value.timestamp | date:'medium' }}</div>
    </div>
    <i class="fa fa-times notif-clear" aria-hidden="true" ng-click="clearNotifById(value.id)"></i>
</div>
<div class="notif-item" ng-if="notifications.length == 0">
    <div class="message">Yay! you are caught up.</div>
</div>